.fade-enter-active, .fade-leave-active {
  transition: opacity .7s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.grow-enter-active, .grow-leave-active {
  transition: 1s;
}

.grow-enter, .grow-leave-to {
  opacity: 0;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50%{
    opacity: .8;
  }
  100% {
    opacity: 0.4;
  }
}
