@import 'reset';
@import 'variables';
@import 'mixins';
@import 'components';
@import 'fonts';

body{
	font-family: $gothamBook;
}

h1,h2,h3,h4,h5,h6{
	font-family: $gothamBlack;
}

p{
	font-family: $gothamBook;
}

.button{
	font-family: $gothamBlack;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 20px;
	border-radius: 3px;
	border: none;
	outline: none;
}

