#skip-video{
  position: absolute;
  z-index: 99;
  bottom: 0;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  .button{
    color: $white;
    border: 2px solid $white;
    background: none;
    animation: pulse 3s infinite;
    &:hover{
      cursor: pointer;
    }
  }
}
