#skip-video{
  position: absolute;
  z-index: 99;
  bottom: 0;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  h2{
    color: $white;
    animation: pulse 3s infinite;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50%{
    opacity: .8;
  }
  100% {
    opacity: 0.4;
  }
}
